* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #767676;
}

.header-nav {
  width: 100%;
  height: 100px;
  color: black;
  flex: box;
  justify-content: space-around;
  border: 1px solid blue;
}

h1#company {
  color: #00acff;
  width: 20%;
  border: 1px solid green;
  font-size: 1.2rem;
  text-transform: uppercase;
  float: left;
  text-align: center;
}

p {
  font-size: 1rem;
  color: #767676;
}

header {
  background: #fff;
  float: left;
  border: 1px solid red;
  display: block;
  height: 200px;
  width: 100%;
}

nav {
  margin-top: 2rem;
  border: 1px solid yellow;
  float: left;
}

.nav-util {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-right: 3%;
  border: 1px solid green;
  height: 50px;
  width: 100%;
  float: right;
}

ul.right {
  border: 1px solid green;
  height: 100%;
  float: right;
}

ul.right a {
  color: #00acff;
  border: 1px solid green;
  height: 100%;
}

.nav-main {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-right: 3%;
  border: 1px solid green;
  float: right;
}

.nav-main a {
  color: #00acff;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid pink;
  float: left;
}

.nav-util img {
  border: 1px red solid;
  height: 20px;
  width: 20px;
}

.left img {
  border: 1px red solid;
  height: auto;
  width: 50%;
  float: left;
}

/******************
 main and section_1 */
#section_1 {
  background: #d8d8d8;
  border: 1px solid yellow;
  width: 100%;
  height: 500px;
  margin-bottom: 5%;
}

#section_1.left {
  border: 1px solid green;
  width: 45%;
  height: auto;
  float: left;
}

#section_1 .hero-img {
  margin-top: 5%;
}

#section_1 .right {
  margin-right: 2%;
  margin-top: 5%;
  border: 1px solid blue;
  width: 45%;
  float: right;
}

.right h2 {
  font-size: 1.5rem;
  border: 1px red solid;
  text-align: center;
  text-transform: uppercase;
}

.right p {
  border: 1px red solid;
  margin: 2.5rem auto;
  text-align: center;
  line-height: 1.5rem;
}

.right .two-buttons {
  justify-content: space-around;
  border: 1px red solid;
  display: flex;

  /* margin-top: 2rem; */
  height: 50px;
  width: 100%;
}

#section_1 .button {
  float: left;
  height: 100%;
  width: 100%;
  background: #00acff;
  color: #fff;
  text-decoration: none;
  text-align: center;

  /* margin: 5%; */
  border: 1px solid gray;
  text-transform: uppercase;
}

.two-buttons .button {
  font-size: 0.8rem;
  padding-top: 6%;
  margin: 1%;
}

/******************
 main and section_2 */
#section_2 {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  background: #caabbc;
  width: 100%;
  height: 700px;
  border: 1px red solid;
}

#section_2 img {
  width: 100%;
  height: auto;
}

.sub_section_A {
  display: flex;
  margin: 0 12%;
  border: 1px solid blue;

  /* background: blue; */
  width: 80%;
  height: 300px;
}

/* .sub_section_B .box, */
.sub_section_A .box {
  width: 50%;
  flex-basis: auto;
  background: white;
}

.sub_section_A h2 {
  font-size: 2rem;
  border: 1px red solid;
  text-align: center;
}

.sub_section_A .two-buttons {
  border: 1px red solid;
  background-color: yellow;
  display: flex;
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  padding: 0 20%;
}

#section_2 .button {
  font-size: 0.75rem;
  height: 40px;
  width: 48%;
  background: #00acff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 1px solid red;
}

.gray_box {
  flex-basis: auto;
  background: red;
  height: 100%;
  width: 50%;
}

.sub_section_B {
  display: flex;
  margin: 0 12%;
  border: 1px solid blue;
  width: 80%;
  height: 300px;
  float: left;
}

.sub_section_B .box {
  border: 1px solid blue;
  background: white;
  width: 50%;
  height: 100%;
  float: left;
}

/* #section_2 .box {
  margin: 0 12%;
  border: 1px solid blue;
  width: 25%;
  height: 300px;
  float: right;
} */
#section_2 h2 {
  font-size: 2rem;
  border: 1px red solid;
  text-align: center;
}

#section_2 .box p {
  border: 1px red solid;
  margin: 2.5rem auto;
  text-align: center;
  line-height: 1.5rem;
}

#section_2 .box .two-buttons {
  border: 1px red solid;
  display: flex;
  margin-top: 2rem;
  height: 50px;
  width: 80%;
  padding: 0 60%;
}

#section_2 .button {
  color: #00acff;
  background-color: white;
}

/******************
 main and section_3 */
#section_3 {
  padding-top: 5%;
  background: #d8d8d8;
  width: 100%;
  height: 350px;
}

#section_3 .box1 {
  margin: 0 12%;
  border: 1px solid blue;
  width: 100%;
  height: 300px;
}

.box1 h2 {
  font-size: 2rem;
  border: 1px red solid;
  text-align: center;
}

.box1 p {
  border: 1px red solid;
  margin: 2.5rem auto;
  text-align: center;
  line-height: 1.5rem;
}

.box1 .button {
  border: 1px red solid;
  margin: 2% 25%;
  height: 50px;
  width: 100rem;
  padding: 0 20%;
}

.box1 .button {
  float: center;
  height: 40px;
  width: 100px;
  padding-top: 1.1rem;
  background: #00acff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 2px #0cf;
}

#section_4 {
  border: 1px red solid;
  width: 100%;
  background: #eee;
  height: 300px;
  margin: 50px;
}

/* #section_4 hr {
  color: purple;
  width: 100%;
} */
#nav-footer {
  border: 1px red solid;
  float: right;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  text-decoration: none;
}

#footer-box {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  width: 100%;
  margin: 0 auto;
}

#nav-footer a {
  text-decoration: none;
  color: #00acff;
  width: 200px;
  height: 30px;
  padding-top: 20px;
}

#nav-footer a:hover {
  text-decoration: none;
  color: #0ff;
  width: 200px;
  margin: auto;
  height: 30px;
}

#section_4 ul {
  display: flex;
  height: 30px;
}

#section_4 hr {
  display: flex;
  padding-top: 3%;
  height: 30px;
  color: red;
}

#logo img {
  width: 50px;
  height: 50px;
  border: 0;
}

#logo:hover {
  width: 100px;
  height: 100px;
}

#newsletter-box p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#newsletter-box h3 {
  border: 1px black solid;
  margin-top: 20px;
  padding: 20px;
}

#newsletter-box a {
  border: 1px black solid;
  margin-top: 20px;
  padding: 20px;
}

#newsletter-box a:hover {
  border: 1px red solid;
  margin-top: 20px;
  padding: 20px;
}

#sns-terms {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

#sns-box a {
  padding: 1rem;
  text-decoration: none;
  border: 5px red solid;
}

#sns-box a:hover {
  padding: 2rem 2rem 0 0;
  border: 2px #0ff solid;
}

#terms-box a {
  color: #989898;
  padding: 2rem 2rem 0 0;
  text-decoration: none;
}

#terms-box a:hover {
  color: #0ff;
  padding: 2rem 2rem 0 0;
  text-decoration: none;
}

@media (min-width: 751px) {
  /* mobile navi is hidden */
  .nav-mobile {
    display: none;
    border: 1px solid pink;
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  h1#company {
    position: absolute;
    top: 2.2%;
    left: 80px;
    width: 50%;

    /* height: 100px; */
    align-content: center;
    float: left;
  }

  .nav-mobile {
    /* mobile navi show up
    border: 1px solid pink; */
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 1%;
    width: 50%;
  }

  .nav-util {
    display: none;
  }

  .nav-util a.hide {
    display: none;
  }

  .nav-util a img {
    margin-right: 3%;
    border: 1px solid green;
    height: 10px;
    width: auto;
    float: right;
  }

  .nav-main {
    display: none;
  }

  .nav-main a {
    display: none;
  }

  a:link,
  a:visited {
    background-color: #0af;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:active,
  a:hover {
    background-color: red;
  }

  #section_1 {
    display: flex;
    height: 800px;
    flex-direction: column;
  }

  #section_1 img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  #section_1 .right {
    width: 100%;
    height: auto;
    padding-top: 5%;
    margin: 5% auto;
  }

  #section_1 .two-buttons {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  #section_1 .button {
    width: 90%;
    height: 30%;
    margin: 0 auto;
  }

  #section_2 {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    background: #caabbc;
    width: 100%;
    height: 1500px;
    border: 1px red solid;
  }

  #section_2 .sub_section_A {
    display: block;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid blue;
    width: 80%;
    height: 700px;
  }

  #section_2 .sub_section_A .gray_box {
    background-color: yellow;
    border: 1px solid blue;
    height: 350px;
    width: 80%;
    margin: auto;
  }

  #section_2 .sub_section_A .box {
    width: 80%;
    height: 350px;
    background: white;
    margin: auto;
  }

  .sub_section_B {
    display: flex;
    margin: auto;
    border: 1px solid blue;
    width: 80%;
    height: 690px;
    float: left;
    flex-direction: column;
  }

  #section_2 .sub_section_B .box {
    border: 1px solid blue;
    background-color: white;
    width: 80%;
    height: 350px;
    margin: auto;
  }

  #section_2 .sub_section_B .gray_box {
    border: 1px solid blue;
    background-color: yellow;
    width: 80%;
    height: 350px;
    margin: auto;
  }
}

/*
@mixin headline ($color, $size) {
  color: $color;
  font-size: $size;
}
  */
